{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}
